@font-face {
  font-family: "Outfit";
  font-display: swap;
  font-weight: 100 900;
  /* In this CSS code, the format("truetype") part specifies the font format for the font file referenced in the src attribute. */
  src: url(assets/Outfit/Outfit-VariableFont_wght.ttf) format("truetype");
}

/* Colors */
/* 

Primary: overall look of the site, primary actios -  links, navigation, items, icons, accent border or text

Neutrals: text, backgrounds and borders, secondary buttons and links 

Supporting/ secondary: when you need an element to standn our or to reinforce things like error state 

*/

:root {
  /* Primary Colors - text */
  --clr-primary-soft-blue: hsl(215, 51%, 70%);
  --clr-primary-cyan: hsl(178, 100%, 50%);

  /* Neutrals - backgrounds */
  --clr-neutral-dark-blue-main: hsl(217, 54%, 11%);

  --clr-neutral-dark-blue-card: hsl(216, 50%, 16%);
  --clr-neutral-dark-blue-line: hsl(215, 32%, 27%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  /* Font Family */
  --font-family-default: "Outfit", sans-serif;

  /* Font Weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 600;

  /* Font-Size */
  --font-size-100: 16px;
  font-size: 18px;

  /* border-radius */
  --border-radius: 1rem;
}

/* By default, the width and height of an element includes only the content area. Any padding, border, or margin is added to the overall size of the element. This can sometimes lead to unexpected layout issues. */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--font-family-default);
  font-size: 1rem;
  color: var(--clr-primary-soft-blue);
  background: var(--clr-neutral-dark-blue-main);
  --padding: 1rem;
  /* 13 - I added this */
  display: grid;
  place-items: center;
  min-height: 100vh;
  /* margin-top: 3rem; */
}
/* 
When the screen width is 375 pixels or smaller, the body element will have a margin of 2rem on all sides. This can be used to create spacing around the content and improve readability on smaller screens. */

@media (max-width: 375px) {
  body {
    margin: 2rem;
  }
}

/* 1 */
/* Will center things in a larger screen size */
/* @media (min-width: 600px) {
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
} */

/* 2 */
/* setup section titles */
.NFT-title {
  font-weight: var(--fw-bold);
  font-size: 1.3rem;
  color: var(--clr-neutral-white);
}

/* .NFT-title:hover {
  color: var(--clr-primary-cyan);
} */

/* 11 */
.link {
  text-decoration: none;
  color: var(--clr-neutral-white);
  /* Other styles as needed */
}

/* 12 */
.link:hover {
  color: var(--clr-primary-cyan);
}

.image-icon {
  position: relative;
}
.image-icon svg {
  position: absolute;
  top: 45%;
  left: 45%;
  /* transform: translate(-50%, -50%); */

  /* display: none; */
}

.image-box {
  width: 16rem;
  height: 16rem;
  background: var(--clr-primary-cyan);
}

.image-box img {
  /* important  */
  position: relative;
  object-fit: cover;
}

.link img:hover {
  /* display: none; */
  opacity: 0.34;
}

.image-icon svg:hover {
  z-index: 1000;
}

/* 3 */
.main-container {
  padding: var(--padding);
  max-width: 18rem;
  display: grid;
  background: var(--clr-neutral-dark-blue-card);
  border-radius: var(--border-radius);
  gap: 1rem;
  /* width: 18rem; */
}

/* 4 */
/* main-container img {
  width: 16rem;
} */

/* 5 */
.title-description p {
  padding: var(--padding) 0 0 0;
  line-height: 1.5;
  font-weight: var(--fw-light);
}

/* 6 */
.info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: var(--font-size-100);
  font-weight: var(--fw-light);
}

.info[data-spacing="large"] {
  justify-content: space-between;
}

.info h4 {
  color: var(--clr-primary-cyan);
  font-weight: var(--fw-bold);
}

/* 7 */
hr {
  border: 0.5px solid var(--clr-neutral-dark-blue-line);
}

/* 8 */
.footer {
  /* display: flex; */
  gap: 1rem;
  padding-bottom: 0.5rem;
  font-weight: var(--fw-regular);
}
/* 9 */
.footer img {
  width: 1.6rem;
  border: 1px solid var(--clr-neutral-white);
  border-radius: 100vh;
}

/* 10 -> go to link next*/
.footer a {
  color: var(--clr-neutral-white);
}
